{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}

<h1>Rango says...</h1>
<div>
    here is the about page. <br />
    This website is used to provide online learning materials for programming enthusiasts.<br />
    Website Author: Shangzhen Wei<br />
    
    <p>Visits: {{ visits }}</p>
</div>
<h2>Recommended programming language on this site</h2>
<img src="{% static 'images/Java.jpg' %}" alt="Picture of Java" />

<img src="{% static 'images/python.jpg' %}" alt="Picture of Python" />

<img src="{% static 'images/C programming.jpg' %}" alt="Picture of C" />

{% endblock %}