<div class="index-widget wide tall tab-ui">
     <div class="tab">
         <div class="tab-title tab-title-actives" id="tab1" onclick="show(3,1)">
             <a>法家简介</a>
         </div>
         <div class="tab-title" id="tab2s" onclick="show(3,2)">
             <a>墨家简介</a>
         </div>
         <div class="tab-title" id="tab3" onclick="show(3,3)">
             <a>道家简介</a>
         </div>
     </div>
     <div class="contentsx">
         <div class="tab-contents" id="content1">
             法家，代表人物韩非、李斯、管仲、商鞅，代表作《韩非子》、《管子》。
         </div>
         <div class="tab-contents" id="content2" style="display: none;">
             墨家，代表人物墨翟，代表作《墨子》。
         </div>
         <div class="tab-contents" id="content3" style="display: none;">
             道家，代表人物李耳、庄周，代表作《老子》、《庄子》。
         </div>
     </div>
 </div>
 